<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{

    // TODO #3 - Use the same list display from Views/Search/Index.cshtml

    @foreach (Dictionary<string, string> jobs in ViewBag.Jobs)

    {

        <table>

           

            @foreach (KeyValuePair<string, string> job in jobs)

            {

                <tr class="td:nth-child(even) ? 'even' : 'odd'  ">

                    <td>@job.Key</td>

                    <td>@job.Value</td>

                </tr>

            }

        </table>

    }

}