@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}
<h1>Results</h1>
<p><a asp-controller="Search" asp-action="List">Search Controller List Action</a></p>

<ul>
    @foreach (string search in ViewBag.searches)
    {
    <li>@search</li>
    }
</ul>